:root {
 --main-bg-color: black;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.header {
  /* background-color: var(--main-bg-color); */

}