:root {
  --crop-size: 64px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

/*--------------------------------------CONTACT SECTION---------------------------------*/



/*-------------------------------------- QUOTE SECTION --------------------------------*/

.quote-section {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote-section .quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-section p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  max-width: 500px;
  margin: 36px;
}

.quote-section .quote-speaker {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
}

/* -------------------------GALLERY SECTION - INCOMPLETE AT THE MOMENT--------------------*/

.gallery-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.gallery-title {
  font-size: 36px;
  font-weight: 1000;
  color: #1F2937;
  margin: 32px;
}

.card-crop-box {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: #3882f6 2px solid;
  border-radius: 8px;
}

.card-text {
  padding: 8px;
  text-align: center;
}

.card {
  width: 200px;
  height: 350px;
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scholastic {
  width: 450px;
  height: auto;
  margin: -50px 0 0 -150px;
}

#urza {
  width:250px;
  height: auto;
  margin: 0 0 0 -37px;
}

/* -------------------------------------HOME SECTION -------------------------------------*/

.home-section {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  padding: 16px;
  background: #2e2e2e;
  padding: 16px;
}

.home-content {
  padding: 16px;
  max-width: 300px;
}

.home-title {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.home-text {
  font-size: 18px;
  max-width: 200px;
  color: #e5e7eb;
  margin: 8px 0 16px 0;
}

.home-crop-box {
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.home-crop-box img {
  transform: scaleX(-1);
  margin: -150px 0 0 -60px;
  width: 500px;
  height: 600px;
}

.button {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px 0;
}

/*----------------------------------------- HEADER SECTION -------------------------*/

.header {
  display: flex;
  background: #2e2e2e;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15% 8px 15%;
}

.header-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.header-links ul li {
  margin: 0 16px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/*Going to be honest, I'm proud AF about this upcoming part.
So the div that the logo is in cuts off the image that overf-
lows. Like imagine having a picture, then putting a piece of 
paper on it and cutting a hole out of it - you only see what
fits in the hole. So the image's margin pulls the image to 
where it needs to be to be seen through the viewport.*/

.crop-container {
  height: var(--crop-size);
  width: var(--crop-size);
  overflow: hidden;
  border-radius: 100%; /* This makes it circular*/

}

.header-img {
  width: calc(var(--crop-size)*2);
  height: calc(var(--crop-size)*2);
  margin: calc(var(--crop-size)/-2) 0 0 calc(var(--crop-size
    )/-2);
}