:root {
  --crop-size: 64px;
  --angle: 127deg;
  --bg-main: white;
  --bg-opp: rgb(53,53,53);
  --bg-light: rgb(243,243,243);
  --txt-main: rgb(68, 68, 68);
  --txt-em: black;
  --txt-opp: white;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /*width: 100vw;*/
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(0,177,255);
  background: linear-gradient(var(--angle), rgba(248,252,81,1) 0%, rgba(248,252,81,1) 10%,
   rgba(0,177,255,1) 35%, rgba(209,87,222,1) 90%, rgba(209,87,222,1) 100%);
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: var(--txt-main);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

/* Removes horizontal scrolling from mobile devices */

@media only screen and (max-width: 600px) {
  html, body {
    max-width: 100vw!important;
    overflow-x: hidden!important;
    height:auto!important;
  }
}


/*--------------------------------- SECTION SECTION (nice) -----------------------------*/

.page-section {
  overflow: hidden;
  margin: 15vh auto;
  padding: 10vh 10vw;
  width: 70vw;
  max-width: 600px;
  background: var(--bg-main);
  border-radius: 8px;
  box-shadow: 8px 8px 4px rgba(0,0,0,.2);
  transform: scaleX(10vh);
  opacity: 0;
}

.page-section.centered * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.page-section.stretch {
  width: 80%;
  align-self: stretch;
  overflow-x: hidden;
  margin: 15vh 0;
  text-align: left;
  max-width: 80%;
}

.page-section p {
  max-width: 500px;
}

.page-section * {
  opacity: 0;
}

.page-section ul {
  text-align: left;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  max-width: 250px;
  margin: 8px 32px;
}

.card a {
  margin: 2px;
  padding: 4px;
  background-color: var(--bg-light);
  border-radius: 2px;
}

/*--------------------------SPECIAL WRAPPERS SECTION----------------------------*/

.center-wrapper * {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.center-wrapper ul li {
  margin: 4px 4px;
  padding: 4px;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  background-color: var(--bg-light);
  border-radius: 2px;
}


/*--------------------------------------FOOTER SECTION----------------------------------*/

.page-footer {
  justify-self: flex-end;
  background-color: var(--bg-opp);
  color: var(--txt-opp);
}

.page-footer a {
  color: var(--txt-opp);
  margin-top: 8px;

}


/*----------------------------------------- HEADER SECTION -------------------------*/

header.nav-wrapper {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background: var(--bg-main);
  margin: 0;
  box-shadow: 0px 8px 4px rgba(0,0,0,.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: min(600px, 80%);
}

nav a, .card a {
  text-decoration: none;
  color: var(--txt-main);
  padding: 4px 16px;
  border-radius: 2px;
}

nav a:hover, .card a {
  color: var(--txt-em);
}

/*-------------------------------MISC SECTION--------------------------------------*/

/*Going to be honest, I'm proud AF about this upcoming part.
So the div that the logo is in cuts off the image that overf-
lows. Like imagine having a picture, then putting a piece of 
paper on it and cutting a hole out of it - you only see what
fits in the hole. So the image's margin pulls the image to 
where it needs to be to be seen through the viewport.*/

.crop-container {
  height: var(--crop-size);
  width: var(--crop-size);
  overflow: hidden;
  border-radius: 100%; /* This makes it circular*/
}

.crop-centered-img {
  width: calc(var(--crop-size)*2);
  height: calc(var(--crop-size)*2);
  margin: calc(var(--crop-size)/-2) 0 0 calc(var(--crop-size
    )/-2);
}

strong {
  color: black;
}

a:hover::before {
  content: "<";
}

a:hover::after {
  content: ">";
}

.hidden-message {
  height: 30vh;
  width: 100%;
  margin: -15vh 0;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*------------------------------------- TRANSITIONS ---------------------------------*/

@keyframes slideRightFadeIn {
  0% {
    transform: translateY(-10vh);
  }
  60% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyFrames FadeIn {
  100% {
    opacity: 1;
  }
}

@keyFrames FadeOut {
  100% {
    opacity: 0;
  }
}



.loaded .page-section {
  animation: slideRightFadeIn 2s linear 0s forwards;
}

.loaded .page-section .slow-entry {
  animation: FadeIn 2s linear 3s forwards;
}

.loaded .page-section .fast-entry {
  animation: FadeIn 0.5s linear 0s forwards;
}

.loaded .page-section * {
  animation: FadeIn 1s linear 1s forwards;
}


.loaded .hidden-message:hover {
  animation: FadeIn 0.5s linear 0s forwards;
}