:root {
    --blend-color: #484668;
    --accent-color: #ffddcc;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.6;
    background-color: #fff;
    color: #222;
}

nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #222;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 1.5rem;
}

.nav-menu a {
    color: #222;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: var(--accent-color);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 18px;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #222;
    transition: all 0.3s;
}

.nav-menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.nav-menu.show li {
    margin: 1rem 0;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    line-height: 4em;
}

.blend {
    mix-blend-mode: exclusion;
    color: var(--blend-color);
}

.circle-image-wrapper {
    height: clamp(200px, 40vw, 320px);
    width: clamp(200px, 40vw, 320px);
    border-radius: 100%;
    background-color: var(--blend-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
    overflow: hidden;
    border: 4px solid white;
}

.circle-image-wrapper img {
    width: 100%;
}
  
.hero h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.chevron {
    animation: moveUpDown 2s ease-in-out infinite;
}

.about {
    padding: 2rem;
    opacity: 0;
}

.about.visible {
    animation: slideInLeft 1s ease-out forwards;
}
  

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.projects {
    padding: 2rem;
}

.featured {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.featured-content {
    display: flex;
    flex-flow: column wrap;
    width: clamp(200px, 80vw, 600px);
    margin-bottom: 2rem;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.tech-used {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}

.tech {
    white-space: nowrap;
    background-color: #484668;
    border-radius: 12px;
    color: white;
    padding: 8px 16px;
}

.tech-tag {
    background-color: #ccc;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
}

.featured-project-img-wrapper {
    width: clamp(200px, 80vw, 400px);
}

.featured-project-img-wrapper img {
    width: 100%;
    height: auto;
}

.other-projects {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}

/* Hide the scrollbar */
.other-projects::-webkit-scrollbar {
    display: none;
}
  

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #73d4fe;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 100;
}

.back-to-top.visible {
    display: block;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
  
    .hamburger {
        display: flex;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
  }